@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Work+Sans&display=swap');

body{
    background-color: rgb(0, 99, 156);
    margin: 0;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
}
img{
    width: 100%;
    height: 100%;
}

#header_image_container{
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
}
#header_quote_1{
    position: absolute;
    top: 8px;
    left: 16px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#header_quote_2{
    position: absolute;
    bottom: 8px;
    right: 16px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#portrait_image_container{
    width: 300px;
    height: auto;
    margin: auto;
}
#portrait_image{
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
}
#profile_section{
    text-align: center;
}
#profile_name{
    margin-top: 20px;
    font-size: 2.4rem;
}

.White_Line{
    width: 100%;
    margin-top: -4px;
    height: 3px;
    background-color: #ffffff;
}
.Collapsible_Button{
    display: flex;
    width: 100%;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}
.Top{
    border-top: 3.5px solid #ffffff;
}
.Bottom{
    border-bottom: 3.5px solid #ffffff;
}
.Active, .Collapsible_Button:hover{
    background-color: rgb(12, 145, 223);
}
.Collapsible_Block{
    padding: 0 18px;
    background-color: white;
    color: black;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.Label{
    align-self: flex-start;
    width: 50%;
    text-align: left;
    margin-left: 10px;
}
.Symbol{
    align-self: flex-end;
    width: 50%;
    text-align: right;
    margin-right: 10px;
}
.Emphasize{
    font-size: 1.2rem;
    font-weight: bold;
}
footer{
    margin-top: 5px;
    text-align: center;
    text-size-adjust: 0.8;
    margin-bottom: 5px;
}
@media only screen and (max-width: 870px) {
    .Desktop_Only_Content {
      display: none;
    }
    .Mobile_Only_Content{
        display: block;
    }
}